* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #feefcd;
  font-family: "Work Sans", sans-serif;
}

header {
  display: flex;
  background-color: #ffdc92;
  height: 60px;
  justify-content: space-around;
  border: solid 2px black;
  margin-bottom: 40px;
  width: 100%;
  margin: 0px;
}
header a {
  padding: 10px;
}
header h1 {
  font-family: "Lily Script One";
  display: flex;
  align-items: center;
  border: black;
  color: #b68bc1;
  background-color: #ffdc92;
  font-size: 40px;
  margin-right: 10px;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: self-end;
  text-align: center;
  background-color: #ffdc92;
  max-width: 500px;
  margin-right: 100px;
}
header nav ul {
  display: flex;
  margin: 0px;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  border: solid 2px black;
  border-bottom: 0px;
  height: 40px;
  text-align: center;
  padding: 15px 10px 0px 10px;
  margin-top: 18px;
  border-radius: 10px 10px 0px 0px;
  text-decoration: none;
  background-color: #c0d85c;
  color: black;
  display: flex;
}

.navbar {
  background-color: #ffdc92;
  display: none;
}

.header__logo {
  width: auto;
  height: auto;
  max-height: 50px;
  max-width: 50px;
  background-color: #ffdc92;
}

.activo {
  background-color: #fea4c7;
}

@media screen and (max-width: 800px) {
  .navbar {
    display: flex;
  }
  header {
    display: none;
  }
}
.footer {
  margin-top: 7vh;
  background-color: #ffdc92;
  border: solid 1.5px black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 80px 20px 80px;
}
@media screen and (max-width: 1200px) {
  .footer {
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 800px) {
  .footer {
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }
}
.footer img {
  width: auto;
  height: auto;
  max-height: 50px;
  max-width: 50px;
  background-color: #ffdc92;
}
.footer h3 {
  text-align: center;
  font-size: 20px;
  font-family: "Work Sans", sans-serif;
}

@media screen and (max-width: 600px) {
  .redesSociales {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.RedesSociales__box {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
@media screen and (max-width: 600px) {
  .RedesSociales__box {
    flex-direction: column;
    justify-content: center;
  }
}

.redSocial {
  display: flex;
  gap: 2px;
}
@media screen and (max-width: 600px) {
  .redSocial {
    justify-content: center;
  }
}

.fa-whatsapp-square {
  font-size: 26px;
  color: #c0d85c;
}

.fa-camera-retro {
  font-size: 26px;
  color: #fea4c7;
}

.fa-envelope {
  font-size: 26px;
  color: #b68bc1;
}

.app__datos {
  font-size: 16px;
}

.Inicio__presentacion {
  margin-top: 50px;
}

.inicio__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.inicio__content h2 {
  margin: 0px;
  display: flex;
  font-size: 48px;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
}
@media screen and (max-width: 1200px) {
  .inicio__content h2 {
    margin-bottom: 20px;
  }
}

.inicio__efecto-ig {
  background-color: #f5f5f5;
  border: solid black 2px;
  display: inline-block;
  max-width: 550px;
  max-height: 450px;
  overflow: hidden;
}
.inicio__efecto-ig ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 8s infinite alternate ease-in-out;
}
@media screen and (max-width: 1200px) {
  .inicio__efecto-ig ul {
    animation: none;
  }
}
.inicio__efecto-ig ul li {
  list-style: none;
  width: 50vw;
}
@media screen and (max-width: 1200px) {
  .inicio__efecto-ig ul li {
    display: none;
  }
}

.inicio__imagen {
  width: 546px;
  height: 390px;
  padding: 0px;
  object-fit: cover;
}
@media screen and (max-width: 1200px) {
  .inicio__imagen {
    display: none;
  }
}

.inicio__imagen1 {
  width: 546px;
  height: 390px;
  padding: 0px;
  object-fit: cover;
}
@media screen and (max-width: 1200px) {
  .inicio__imagen1 {
    width: 100%;
    height: 100%;
    padding: 0px;
  }
}

@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
.imagen__iconos {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px 0px 5px;
}

.fa-heart, .fa-stop, .fa-play {
  font-size: 1.5vw;
  background-color: #f5f5f5;
}
@media screen and (max-width: 1200px) {
  .fa-heart, .fa-stop, .fa-play {
    font-size: 20px;
  }
}

.sobreGroovis {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0px;
}

.inicio__sobreGroovis {
  border: solid black 2px;
  background-color: #ffdc92;
  height: 390px;
  width: 190px;
  justify-content: center;
  align-items: center;
  display: flex;
}
@media screen and (max-width: 1200px) {
  .inicio__sobreGroovis {
    font-size: 20px;
    height: 100px;
    width: 800px;
  }
}
.inicio__sobreGroovis h2 {
  padding: 0px;
  margin: 0px;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.sobreGroovis__img {
  width: auto;
  height: auto;
  max-width: 14vw;
  margin: 0;
}
@media screen and (max-width: 1200px) {
  .sobreGroovis__img {
    max-width: 200px;
  }
}

.sobreNosotros__logo {
  width: auto;
  height: auto;
  max-width: 15vw;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .sobreNosotros__logo {
    max-width: 200px;
  }
}

.bienvenida__img {
  width: auto;
  height: auto;
  max-height: 20vh;
  max-width: 30vw;
}

.sobreNosotros {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sobreNosotros p h2 {
  font-weight: 400;
  text-align: left;
  font-size: 16px;
  margin: 0px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  .sobreNosotros {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.sobreNosotros__textBox {
  font-size: 18px;
  background-color: #c0d85c;
  border: solid black 2px;
  height: 100px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  margin: 0px;
}
.sobreNosotros__textBox h2 {
  font-size: 18px;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  .sobreNosotros__textBox {
    width: 800px;
  }
}

.sobreNosotros__rectanguloRosa {
  background-image: linear-gradient(#ffa5c9, #b68bc1);
  border: solid 2px black;
  height: 60px;
  margin-bottom: 102px;
  margin: 0 auto;
  margin-top: 50px;
}

@media (max-width: 800px) {
  .inicio__content h2 {
    max-width: 600px;
    font-size: 36px;
    margin-bottom: 20px;
  }
  .navbar {
    display: flex;
  }
  .headerStyle {
    display: none;
  }
  .sobreNosotros__text {
    font-size: 20px;
    text-align: center;
  }
  .sobreNosotros__rectanguloRosa {
    display: none;
  }
  .inicio__sobreGroovis {
    width: 600px;
  }
  .sobreNosotros__textBox {
    width: 600px;
  }
}
@media (max-width: 630px) {
  .sobreNosotros__textBox {
    width: 100vw;
  }
  .inicio__titulo {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .sobreNosotros__text {
    font-size: 16px;
  }
  .inicio__efecto-ig {
    max-width: 300px;
    max-height: 300px;
  }
  .inicio__sobreGroovis {
    width: 100vw;
  }
}
@media (max-width: 350px) {
  .inicio__sobreGroovis {
    width: 100vw;
  }
  .sobreNosotros__textBox {
    width: 100vw;
  }
  .inicio__titulo {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .sobreNosotros__text {
    font-size: 16px;
  }
  .inicio__efecto-ig {
    max-width: 200px;
    max-height: 200px;
  }
}
.inicioProductos {
  display: flex;
  justify-content: center;
}
.inicioProductos img {
  width: auto;
  height: auto;
  max-height: 250px;
  max-width: 250px;
}
@media screen and (max-width: 350px) {
  .inicioProductos {
    flex-direction: column-reverse;
    align-items: center;
  }
  .inicioProductos img {
    width: 150px;
  }
  .inicioProductos .rectangulos {
    justify-content: center;
  }
}

.inicioProductos__titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 350px) {
  .inicioProductos__titulo {
    margin: 10px;
  }
}

.rectangulos {
  display: flex;
  max-width: 300px;
}

.rectanguloVerde {
  width: 15vw;
  height: 2vh;
  background-color: #c0d85c;
  margin-right: 10px;
}

.rectanguloVioleta {
  width: 12vw;
  height: 2vh;
  background-color: #b68bc1;
}

.carrito__presentacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carrito__presentacion .productos__presentacion--Violeta {
  background-color: #b68bc1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 330px;
  border: solid black 2px;
}
@media (max-width: 350px) {
  .carrito__presentacion .productos__presentacion--Violeta {
    width: 22vh;
    height: 22vh;
  }
}
.carrito__presentacion .productos__presentacion--Naranja {
  background-color: #ffdc92;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 330px;
  border: solid black 2px;
}
@media (max-width: 350px) {
  .carrito__presentacion .productos__presentacion--Naranja {
    width: 22vh;
    height: 22vh;
  }
}
.carrito__presentacion .productos__presentacion--Verde {
  background-color: #c0d85c;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 330px;
  border: solid black 2px;
}
@media (max-width: 350px) {
  .carrito__presentacion .productos__presentacion--Verde {
    width: 22vh;
    height: 22vh;
  }
}
.carrito__presentacion .productos__presentacion--Rosa {
  background-color: #ffa5c9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 330px;
  border: solid black 2px;
}
@media (max-width: 350px) {
  .carrito__presentacion .productos__presentacion--Rosa {
    width: 22vh;
    height: 22vh;
  }
}

#productos__presentacion {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}
#productos__presentacion .productos__presentacion--Violeta {
  background-color: #b68bc1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 330px;
  border: solid black 2px;
}
@media (max-width: 350px) {
  #productos__presentacion .productos__presentacion--Violeta {
    width: 22vh;
    height: 22vh;
  }
}
#productos__presentacion .productos__presentacion--Naranja {
  background-color: #ffdc92;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 330px;
  border: solid black 2px;
}
@media (max-width: 350px) {
  #productos__presentacion .productos__presentacion--Naranja {
    width: 22vh;
    height: 22vh;
  }
}
#productos__presentacion .productos__presentacion--Verde {
  background-color: #c0d85c;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 330px;
  border: solid black 2px;
}
@media (max-width: 350px) {
  #productos__presentacion .productos__presentacion--Verde {
    width: 22vh;
    height: 22vh;
  }
}
#productos__presentacion .productos__presentacion--Rosa {
  background-color: #ffa5c9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 330px;
  border: solid black 2px;
}
@media (max-width: 350px) {
  #productos__presentacion .productos__presentacion--Rosa {
    width: 22vh;
    height: 22vh;
  }
}

.productos__presentacion--item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productos__img {
  width: auto;
  height: auto;
  max-width: 280px;
  max-height: 280px;
}
@media screen and (max-width: 350px) {
  .productos__img {
    width: 20vh;
    height: 20vh;
  }
}

.productos__descrip {
  text-align: center;
  max-width: 150px;
  font-size: 18px;
  margin-bottom: 5px;
}

.productos__precio {
  font-weight: bold;
}

.boton {
  width: 120px;
  height: 40px;
  background-color: #ffa5c9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.botonCarrito {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 15px;
  margin-right: 50px;
}

.fa-shopping-bag {
  display: flex;
  align-items: end;
  margin-right: 20px;
  font-size: 50px;
  color: #b68bc1;
}

.botonBorrarBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

#volverAProductos {
  display: none;
}

.botonEliminar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  margin-left: 35px;
}

#eliminarTodo {
  display: none;
  margin-right: 50px;
}

#notificacionEliminar {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 90%;
  height: 20%;
  bottom: 30%;
  margin-left: 30px;
  margin-right: 35px;
  background-color: #b695bf;
  border-radius: 10px;
}
#notificacionEliminar h2 {
  text-align: center;
}

#cerrarNotificacion {
  width: 120px;
  height: 40px;
  background-color: #ffa5c9;
  font-weight: bold;
  border-radius: 5px;
  border: solid 2px black;
}

#notificacionAgregar {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 90%;
  height: 20%;
  bottom: 30%;
  margin-left: 30px;
  margin-right: 35px;
  background-color: #b695bf;
  border-radius: 10px;
}
#notificacionAgregar h2 {
  text-align: center;
}
#notificacionAgregar button {
  width: 120px;
  height: 40px;
  background-color: #ffa5c9;
  font-weight: bold;
  border-radius: 5px;
  border: solid 2px black;
}

#notificacionEliminarSel {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 90%;
  height: 20%;
  bottom: 30%;
  margin-left: 30px;
  margin-right: 35px;
  background-color: #b695bf;
  border-radius: 10px;
}
#notificacionEliminarSel h2 {
  text-align: center;
}

#cerrarElimSel {
  width: 120px;
  height: 40px;
  background-color: #ffa5c9;
  font-weight: bold;
  border-radius: 5px;
}

#totalProductos {
  background-color: #c0d85c;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  border: solid 2px black;
}

.totalProductosText {
  font-weight: bold;
}

.informacion {
  margin-top: 50px;
}

.informacion__cuidados {
  display: flex;
  justify-content: space-around;
}

.cuidados__titulo {
  padding: 10px;
  background-color: #b68bc1;
  font-size: 18px;
  border: solid black 2px;
  justify-content: center;
  align-items: center;
  margin: 0px;
  height: 410px;
  width: 190px;
  display: flex;
}
.cuidados__titulo p {
  background-color: #b68bc1;
  font-size: 18px;
}
@media screen and (max-width: 1200px) {
  .cuidados__titulo {
    margin-bottom: 20px;
  }
}

.presentacion__titulo {
  display: flex;
  justify-content: center;
}
.presentacion__titulo img {
  width: 100px;
}

.cuidados__parrafo {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
@media (max-width: 500px) {
  .cuidados__parrafo {
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
}
.cuidados__parrafo .parrafo__fondo--Violeta {
  background-color: #b68bc1;
  font-size: 16px;
  font-weight: 400;
  border: solid black 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1200px) {
  .cuidados__parrafo .parrafo__fondo--Violeta {
    font-size: 16px;
    padding: 30px;
  }
}
@media screen and (max-width: 800px) {
  .cuidados__parrafo .parrafo__fondo--Violeta {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .cuidados__parrafo .parrafo__fondo--Violeta {
    font-size: 16px;
    flex-direction: column;
  }
}
.cuidados__parrafo .parrafo__fondo--Naranja {
  background-color: #ffdc92;
  font-size: 16px;
  font-weight: 400;
  border: solid black 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1200px) {
  .cuidados__parrafo .parrafo__fondo--Naranja {
    font-size: 16px;
    padding: 30px;
  }
}
@media screen and (max-width: 800px) {
  .cuidados__parrafo .parrafo__fondo--Naranja {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .cuidados__parrafo .parrafo__fondo--Naranja {
    font-size: 16px;
    flex-direction: column;
  }
}
.cuidados__parrafo .parrafo__fondo--Verde {
  background-color: #c0d85c;
  font-size: 16px;
  font-weight: 400;
  border: solid black 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1200px) {
  .cuidados__parrafo .parrafo__fondo--Verde {
    font-size: 16px;
    padding: 30px;
  }
}
@media screen and (max-width: 800px) {
  .cuidados__parrafo .parrafo__fondo--Verde {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .cuidados__parrafo .parrafo__fondo--Verde {
    font-size: 16px;
    flex-direction: column;
  }
}
.cuidados__parrafo .parrafo__fondo--Rosa {
  background-color: #ffa5c9;
  font-size: 16px;
  font-weight: 400;
  border: solid black 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1200px) {
  .cuidados__parrafo .parrafo__fondo--Rosa {
    font-size: 16px;
    padding: 30px;
  }
}
@media screen and (max-width: 800px) {
  .cuidados__parrafo .parrafo__fondo--Rosa {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .cuidados__parrafo .parrafo__fondo--Rosa {
    font-size: 16px;
    flex-direction: column;
  }
}

.tiposDeTote__titulo {
  margin-top: 20px;
}

.presentacionBox__container {
  display: flex;
  gap: 10px;
}
.presentacionBox__container .container__rectangulo--Violeta {
  background-color: #b68bc1;
  height: 15px;
  width: 125px;
  border: solid black 2px;
}
.presentacionBox__container .container__rectangulo--Naranja {
  background-color: #ffdc92;
  height: 15px;
  width: 125px;
  border: solid black 2px;
}
.presentacionBox__container .container__rectangulo--Verde {
  background-color: #c0d85c;
  height: 15px;
  width: 125px;
  border: solid black 2px;
}
.presentacionBox__container .container__rectangulo--Rosa {
  background-color: #ffa5c9;
  height: 15px;
  width: 125px;
  border: solid black 2px;
}

@media (max-width: 500px) {
  .presentacionBox__container {
    display: none;
  }
}
.titulo__presentacionBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  .titulo__presentacionBox h2 {
    font-size: 32px;
  }
}
@media screen and (max-width: 350px) {
  .titulo__presentacionBox h2 {
    font-size: 20px;
  }
}

.presentacionBox__tex {
  font-size: 38px;
}

.presentacion__sobreTote {
  display: flex;
  justify-content: center;
}

.Informaciom_segundaMitad__boxInfo-titulo {
  background-color: #b68bc1;
  width: 30vw;
  height: 8vw;
  border: solid black 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sobreTote__titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 80%;
  height: 50px;
  background-color: #b68bc1;
  text-align: center;
  border: solid black 2px;
}
.sobreTote__titulo h2 {
  font-size: 18px;
}

.sobreTote__informacionTote {
  background-color: #ffa5c9;
  margin: 20px 0px 20px 10px;
  width: 80%;
  padding: 30px;
  border: solid black 2px;
  align-items: center;
}
.sobreTote__informacionTote p {
  font-size: 16px;
  font-weight: 400;
  background-color: #ffa5c9;
}
@media (max-width: 1200px) {
  .sobreTote__informacionTote {
    padding: 10px;
    font-size: 16px;
  }
  .sobreTote__informacionTote p {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .sobreTote__informacionTote {
    margin-bottom: 100px;
    width: 100%;
  }
}

.informacion__tiposDeTote {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}

.tiposDeTote__titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#ffa5c9, #b68bc1);
  border: solid black 2px;
  height: 80px;
}
.tiposDeTote__titulo h2 {
  margin: 0px;
  font-size: 18px;
}

.tiposDeTote__contenido {
  gap: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.tiposDeTote__contenido .contenido__tote--Violeta {
  background-color: #b68bc1;
  font-size: 16px;
  font-weight: 400;
  padding: 20px;
  border: solid black 2px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .tiposDeTote__contenido .contenido__tote--Violeta {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .tiposDeTote__contenido .contenido__tote--Violeta {
    font-size: 16px;
  }
}
.tiposDeTote__contenido .contenido__tote--Naranja {
  background-color: #ffdc92;
  font-size: 16px;
  font-weight: 400;
  padding: 20px;
  border: solid black 2px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .tiposDeTote__contenido .contenido__tote--Naranja {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .tiposDeTote__contenido .contenido__tote--Naranja {
    font-size: 16px;
  }
}
.tiposDeTote__contenido .contenido__tote--Verde {
  background-color: #c0d85c;
  font-size: 16px;
  font-weight: 400;
  padding: 20px;
  border: solid black 2px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .tiposDeTote__contenido .contenido__tote--Verde {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .tiposDeTote__contenido .contenido__tote--Verde {
    font-size: 16px;
  }
}
.tiposDeTote__contenido .contenido__tote--Rosa {
  background-color: #ffa5c9;
  font-size: 16px;
  font-weight: 400;
  padding: 20px;
  border: solid black 2px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .tiposDeTote__contenido .contenido__tote--Rosa {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .tiposDeTote__contenido .contenido__tote--Rosa {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .informacion__box {
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
  .cuidados__titulo {
    height: 50px;
    width: 80%;
    display: flex;
  }
  .parrafo__caretext-amarillo {
    width: 200px;
    height: 200px;
    font-size: 16px;
  }
  .parrafo__caretext-verde {
    width: 200px;
    height: 200px;
    font-size: 16px;
  }
  .sobreTote__titulo {
    width: 80%;
  }
  .informacion__presentacion {
    width: 100%;
  }
  .informacionTote__text {
    font-size: 16px;
    margin: 0px;
  }
  .contenido__toteVerde {
    width: auto;
    height: auto;
    font-size: 16px;
  }
  .contenido__toteAmarilla {
    width: auto;
    height: auto;
    font-size: 16px;
  }
  .presentacion__titulo {
    margin-bottom: 20px;
  }
  .tiposDeTote__titulo {
    width: 80%;
    height: 50px;
  }
}
@media (max-width: 1200px) and (max-width: 500px) {
  .informacionTote__text {
    font-size: 16px;
    margin: 0px;
  }
  .tiposDeTote__contenido {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .titulo__presentacionBox h3 {
    font-size: 22px;
  }
}
.container__decoracionVerdecontacto {
  margin: 20px;
  display: flex;
  justify-content: space-around;
}

.contacto__icono {
  margin-top: 60px;
  margin-bottom: 58px;
  text-align: center;
}
.contacto__icono img {
  display: flex;
  width: auto;
  height: auto;
  max-height: 400px;
  max-width: 400px;
}

.contacto__titulo {
  margin-top: 98px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.titulo__container img {
  display: inline-block;
  width: auto;
  height: auto;
  max-height: 250px;
  max-width: 250px;
}
@media screen and (max-width: 600px) {
  .titulo__container img {
    max-height: 100px;
    max-width: 100px;
  }
}
.titulo__container h2 {
  font-size: 38px;
  margin-left: 20px;
}
@media screen and (max-width: 600px) {
  .titulo__container h2 {
    font-size: 26px;
  }
}

.container__contenedores {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
}
.container__contenedores .container__decoracion--Violeta {
  background-color: #b68bc1;
  width: 100px;
  height: 15px;
}
.container__contenedores .container__decoracion--Naranja {
  background-color: #ffdc92;
  width: 100px;
  height: 15px;
}
.container__contenedores .container__decoracion--Verde {
  background-color: #c0d85c;
  width: 100px;
  height: 15px;
}
.container__contenedores .container__decoracion--Rosa {
  background-color: #ffa5c9;
  width: 100px;
  height: 15px;
}
@media screen and (max-width: 350px) {
  .container__contenedores {
    display: none;
  }
}

.container__decoraconVioleta {
  background-color: #b68bc1;
  width: 100px;
  height: 15px;
  margin-right: 10px;
  margin-left: 10px;
}

.container__decoracionVerde {
  background-color: #c0d85c;
  width: 100px;
  height: 15px;
}

.contacto__formTitulo {
  margin-top: 40px;
  width: 500px;
  height: 100px;
  background-color: #ffa5c9;
  border: solid black 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 600px) {
  .contacto__formTitulo {
    width: 100vw;
  }
}

.formulario__field {
  background-color: #c0d85c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 600px;
  padding: 50px;
  margin-bottom: 10px;
  border: solid black 2px;
  font-size: 18px;
}
@media screen and (max-width: 600px) {
  .formulario__field {
    width: 100vw;
  }
}

.field {
  border: solid 2px;
  padding: 10px;
  font-size: 16px;
}

input, textarea {
  border: solid black 2px;
  border-radius: 5px;
  background-color: #ffffff;
}

.contactoFieldBox-checkbox-text {
  margin: 5px;
  text-align: left;
}

.consulta-text {
  margin: 5px;
  text-align: center;
  font-weight: bold;
}

.contactoFieldBox-buttom {
  width: 120px;
  height: 40px;
  background-color: #ffa5c9;
  font-weight: bold;
}

.contactoFieldBox-buttom-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.envios {
  margin-top: 40px;
}

.inicio__tituloBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.envios__inicio {
  display: flex;
  margin-bottom: 40px;
  justify-content: center;
}
.envios__inicio img {
  width: 150px;
  margin-right: 15px;
}

.inicio__titulo {
  font-size: 48px;
}

.inicio__contenedores {
  display: flex;
  justify-content: center;
}

.contenedores__contenedorVerde {
  background-color: #c0d85c;
  width: 60px;
  height: 15px;
  margin-right: 10px;
}

.contenedores__contenedorVioleta {
  background-color: #b68bc1;
  width: 50px;
  height: 15px;
}

.envios__mapas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 5px;
}

.mapas__box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.mapas__box .box__map--Violeta {
  background-color: #b68bc1;
  width: 260px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 2px;
  margin-bottom: 10px;
}
@media screen and (max-width: 1200px) {
  .mapas__box .box__map--Violeta {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 800px) {
  .mapas__box .box__map--Violeta {
    width: 270px;
    height: 270px;
  }
}
.mapas__box .box__map--Naranja {
  background-color: #ffdc92;
  width: 260px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 2px;
  margin-bottom: 10px;
}
@media screen and (max-width: 1200px) {
  .mapas__box .box__map--Naranja {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 800px) {
  .mapas__box .box__map--Naranja {
    width: 270px;
    height: 270px;
  }
}
.mapas__box .box__map--Verde {
  background-color: #c0d85c;
  width: 260px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 2px;
  margin-bottom: 10px;
}
@media screen and (max-width: 1200px) {
  .mapas__box .box__map--Verde {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 800px) {
  .mapas__box .box__map--Verde {
    width: 270px;
    height: 270px;
  }
}
.mapas__box .box__map--Rosa {
  background-color: #ffa5c9;
  width: 260px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 2px;
  margin-bottom: 10px;
}
@media screen and (max-width: 1200px) {
  .mapas__box .box__map--Rosa {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 800px) {
  .mapas__box .box__map--Rosa {
    width: 270px;
    height: 270px;
  }
}
@media screen and (max-width: 800px) {
  .mapas__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
  }
}
.mapas__box iframe {
  width: 200px;
  height: 200px;
}

.envios__informacion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 1200px) {
  .envios__informacion {
    gap: 10px;
  }
}
.envios__informacion .informacion__box--Violeta {
  background-color: #b68bc1;
  border: solid black 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 5px;
  width: 300px;
  height: 300px;
}
@media screen and (max-width: 1200px) {
  .envios__informacion .informacion__box--Violeta {
    margin-bottom: 15px;
    justify-content: center;
  }
}
@media screen and (max-width: 800px) {
  .envios__informacion .informacion__box--Violeta {
    width: 400px;
  }
}
@media screen and (max-width: 600px) {
  .envios__informacion .informacion__box--Violeta {
    width: 300px;
  }
}
.envios__informacion .informacion__box--Naranja {
  background-color: #ffdc92;
  border: solid black 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 5px;
  width: 300px;
  height: 300px;
}
@media screen and (max-width: 1200px) {
  .envios__informacion .informacion__box--Naranja {
    margin-bottom: 15px;
    justify-content: center;
  }
}
@media screen and (max-width: 800px) {
  .envios__informacion .informacion__box--Naranja {
    width: 400px;
  }
}
@media screen and (max-width: 600px) {
  .envios__informacion .informacion__box--Naranja {
    width: 300px;
  }
}
.envios__informacion .informacion__box--Verde {
  background-color: #c0d85c;
  border: solid black 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 5px;
  width: 300px;
  height: 300px;
}
@media screen and (max-width: 1200px) {
  .envios__informacion .informacion__box--Verde {
    margin-bottom: 15px;
    justify-content: center;
  }
}
@media screen and (max-width: 800px) {
  .envios__informacion .informacion__box--Verde {
    width: 400px;
  }
}
@media screen and (max-width: 600px) {
  .envios__informacion .informacion__box--Verde {
    width: 300px;
  }
}
.envios__informacion .informacion__box--Rosa {
  background-color: #ffa5c9;
  border: solid black 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 5px;
  width: 300px;
  height: 300px;
}
@media screen and (max-width: 1200px) {
  .envios__informacion .informacion__box--Rosa {
    margin-bottom: 15px;
    justify-content: center;
  }
}
@media screen and (max-width: 800px) {
  .envios__informacion .informacion__box--Rosa {
    width: 400px;
  }
}
@media screen and (max-width: 600px) {
  .envios__informacion .informacion__box--Rosa {
    width: 300px;
  }
}
.envios__informacion p {
  text-align: center;
  font-size: 16px;
}
@media screen and (max-width: 600px) {
  .envios__informacion p {
    font-size: 16px;
  }
}

.informacion__titulo {
  width: 400px;
  height: 103px;
  background-color: #ffa5c9;
  border: solid black 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.informacion__titulo h2 {
  font-size: 24px;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .informacion__titulo {
    width: 300px;
  }
}

.envios__domicilio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.envios__domicilio h2 {
  font-size: 18px;
}
.envios__domicilio p {
  font-size: 16px;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .envios__domicilio p {
    font-size: 16px;
  }
}
.envios__domicilio .domicilio__titulo {
  width: 400px;
  height: 100px;
  background-image: linear-gradient(#ffa5c9, #b68bc1);
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 2px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1200px) {
  .envios__domicilio .domicilio__titulo {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 600px) {
  .envios__domicilio .domicilio__titulo {
    width: 300px;
  }
}
.envios__domicilio .domicilio__info {
  width: 400px;
  height: 350px;
  background-color: #c0d85c;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid black 2px;
  padding: 10px;
}
@media screen and (max-width: 600px) {
  .envios__domicilio .domicilio__info {
    width: 300px;
  }
}

.carrito {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carrito h2 {
  font-family: "Work Sans", sans-serif;
  text-align: center;
  font-size: 38px;
  border: solid black 2px;
  padding: 30px;
  background-color: #ffa5c9;
}
@media screen and (max-width: 800px) {
  .carrito h2 {
    font-size: 28px;
  }
}
.carrito img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .carrito img {
    width: 100vw;
  }
}

/*# sourceMappingURL=main.css.map */
