$colorNaranja: #ffdc92;
$colorVerde: #c0d85c;
$colorRosa: #ffa5c9;
$colorActive: #fea4c7;
$colorVioleta: #b68bc1;

$coloresFondo:(
    Violeta:#b68bc1,
    Naranja: #ffdc92,
    Verde: #c0d85c,
    Rosa: #ffa5c9,
);