@import "../abstract.scss/variables";
.envios{
    margin-top: 40px;
 }
 .inicio__tituloBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .envios__inicio{
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
    img{
        width: 150px;
        margin-right:15px;
    }
}
 .inicio__titulo{
    font-size: 48px;
 }
 .inicio__contenedores{
    display: flex;
    justify-content: center;
 }
 .contenedores__contenedorVerde{
    background-color: $colorVerde;
    width: 60px;
    height: 15px;
    margin-right: 10px;
 }
 .contenedores__contenedorVioleta{
    background-color: $colorVioleta;
    width: 50px;
    height: 15px;
 }

 .envios__mapas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 5px;
 }
 .mapas__box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    @each $color, $fondo in $coloresFondo{
        .box__map--#{$color}{
            background-color: $fondo;
            width: 260px;
            height: 260px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: solid black 2px;
            margin-bottom: 10px;
            @include xl{
                margin-bottom: 10px;
            }
            @include m{
                width: 270px;
                height: 270px;
            }
        };
    };

    @include m{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        gap: 15px;
    }
    iframe{
        width: 200px;
        height: 200px;
    }
 };

.envios__informacion{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    @include xl{
        gap: 10px;
    }
    @each $color, $fondo in $coloresFondo{
        .informacion__box--#{$color}{
            background-color: $fondo;
            border: solid black 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            padding: 5px;
            width: 300px;
            height: 300px;
            @include xl{
                margin-bottom: 15px;
                justify-content: center;
            }
            @include m{
                width: 400px;
            }
            @include mobile{
                width: 300px;
            }
        };
    };
    p{
        text-align: center;
        font-size: 16px;
        @include mobile{
            font-size: 16px;
        }
    }
}
.informacion__titulo{
    width: 400px;
    height: 103px;
    background-color: $colorRosa;
    border: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    h2{
        font-size: 24px;
        text-align: center;
    }
    @include mobile{
        width: 300px;
    }
}
.envios__domicilio{
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        font-size: 18px;
    }
    p{
        font-size: 16px;
        text-align: center;
        @include xl{
            font-size: 16px;
    }
}
.domicilio__titulo{
    width: 400px;
    height: 100px;
    background-image: linear-gradient($colorRosa, $colorVioleta);
    display: flex;
    justify-content:center;
    align-items: center;
    border: solid black 2px;
    margin-bottom: 20px;
    @include xl{
        margin-bottom: 10px;
}
@include mobile{
    width: 300px;
}
}
.domicilio__info{
    width: 400px;
    height: 350px;
    background-color: $colorVerde;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
    padding: 10px;
    @include mobile{
        width: 300px;
    }
}
}