@import "../abstract.scss/variables";
@import "../abstract.scss/mixins";
.Inicio__presentacion{
    margin-top: 50px;
 }
 .inicio__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    h2{
        margin: 0px;
        display: flex;
        font-size: 48px;
        align-items: center;
        font-family: 'Work Sans', sans-serif;
        font-weight: bold;
        @include xl {
            margin-bottom: 20px;
        }
    }

 }
.inicio__efecto-ig {
    background-color: #f5f5f5;
    border: solid black 2px;
    display: inline-block;
    max-width: 550px;
    max-height: 450px;
    overflow: hidden;
    
    ul{
        display: flex;
        padding: 0;
        width: 400%;
        animation: slide 8s infinite alternate ease-in-out;
        @include xl{
            animation: none;
        }
        li{
            list-style: none;
            width: 50vw;
            @include xl{
             display: none;
            }
        }
    }

}
.inicio__imagen {
    width: 546px;
    height: 390px;
    padding: 0px;
    object-fit:cover;
    @include xl {
        display: none;
    }
}
.inicio__imagen1{
    width: 546px;
    height: 390px;
    padding: 0px;
    object-fit:cover; 
    @include xl {
        width: 100%;
        height: 100%;
        padding: 0px;
    }
}
@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

.imagen__iconos {
    display: flex;
    justify-content: space-between;
    padding: 5px 5px 0px 5px
}

.fa-heart {
    font-size: 1.5vw;
    background-color: #f5f5f5;
    @include xl {
        font-size: 20px;
    }
}
.fa-play {
    @extend .fa-heart;
}
.fa-stop {
  @extend .fa-heart;
}
.sobreGroovis{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0px;
}
.inicio__sobreGroovis {
    border: solid black 2px;
    background-color: $colorNaranja;
    height: 390px;
    width: 190px;
    justify-content: center;
    align-items: center;
    display: flex;
    @include xl {
        font-size: 20px;
        height: 100px;
        width: 800px;
    }
    h2{
        padding: 0px;
        margin: 0px;
        font-weight: 400;
        font-size: 18px;
        display: flex;
        justify-content: center;
    }
}
.sobreGroovis__img{
    width: auto;
    height: auto;
    max-width: 14vw;
    margin: 0;
    @include xl {
        max-width: 200px;
    }  
}
.sobreNosotros__logo {
    width: auto;
    height: auto;
    max-width: 15vw;
    margin: 0 auto;
    @include xl {
        max-width: 200px;
    }  
}
.bienvenida__img {
    width: auto;
    height: auto;
    max-height: 20vh;
    max-width: 30vw;

}
.sobreNosotros{
    display: flex;
    flex-direction: column;
    gap: 20px;
    p h2{
        font-weight: 400;
        text-align: left;
        font-size: 16px;
        margin: 0px;
        display: flex;
        justify-content: center;
    }
    @include xl {
        display: flex;
        justify-content: center;
        align-items: center;
    }  
}

.sobreNosotros__textBox {
    font-size: 18px;
    background-color: $colorVerde;
    border: solid black 2px;
    height: 100px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    margin: 0px;
    h2{
        font-size: 18px;
        display: flex;
        justify-content: center;
    }
    @include xl {
        width: 800px;
    }
}
.sobreNosotros__rectanguloRosa {
    background-image: linear-gradient($colorRosa, $colorVioleta);
    border: solid 2px black;
    height: 60px;
    margin-bottom: 102px;
    margin: 0 auto;
    margin-top: 50px;
}

@media (max-width: 800px){
    .inicio__content{
        h2{
            max-width: 600px;
            font-size: 36px;
            margin-bottom: 20px;
        }
    }
    .navbar {
        display: flex;

    }
    .headerStyle {
        display: none;
    }
    .sobreNosotros__text{
        font-size: 20px;
        text-align: center;
    }
    .sobreNosotros__rectanguloRosa{
        display: none;
    }
    .inicio__sobreGroovis {
        width: 600px;
    }
    .sobreNosotros__textBox{
        width: 600px;
    }
}
@media (max-width: 630px){
    .sobreNosotros__textBox{
        width: 100vw;
    }
    .inicio__titulo{
        font-size: 24px;
        margin-bottom: 20px;
    }
    .sobreNosotros__text{
        font-size: 16px;
    }
    .inicio__efecto-ig{
        max-width: 300px;
        max-height: 300px;
    }
    .inicio__sobreGroovis {
        width: 100vw;
    }
}
@media (max-width: 350px){
    .inicio__sobreGroovis {
        width: 100vw;
    }
    .sobreNosotros__textBox{
        width: 100vw;
    }
    .inicio__titulo{
        font-size: 16px;
        margin-bottom: 10px;
    }
    .sobreNosotros__text{
        font-size: 16px;
    }
    .inicio__efecto-ig{
        max-width: 200px;
        max-height: 200px;
    }
    
}
